body {
	font-family: cursive;
	text-transform: uppercase;
	background-color: #F9F7F7;
	margin: 0;
}

/* top nav */

.topnav {
	overflow: hidden;
	background-color: #006747;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }

/*--------------------------------------------------------------------------------
Normalize  starts
--------------------------------------------------------------------------------*/

h1,h2,h3,h4{
	color:#50d0c1;
}

a{
	color: #000;
	text-decoration: none;
}


a:visited {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #000;
	text-decoration: none;
}
.container{
	width: 100%;
}
.close{
	color: #000 !important;
}
.modal-content{
	background-color:#F6F6F6;
	color: #000 !important;	
	height: 90%;
	overflow-y: scroll;
}
.modal-body{
	padding: 20px 100px;
}
.modal{
	background-color: rgba(20, 36, 44, 0.45);
}
.modal-dialog{
	width: 60%;
}
.modal-title{
	font-size: 20px;
}
.alert-danger{
	color: #fff;
	background-color:#F44336;
}

.userlist::-webkit-scrollbar {
    width: 12px;
}
.userlist::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.userlist::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.userlist::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
/*--------------------------------------------------------------------------------
Login page starts
--------------------------------------------------------------------------------*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	height: 100%;
    margin: auto;
}
.carousel-control{
	background: rgba(255, 255, 255, 0) !important;
}
.carousel {
  position: relative;
  z-index: 1;
}

.index{
	z-index: 2;
	height: 100%;
	position: absolute;
	top: 0%;
}
.box-container{
	margin-top: 2%;
	width: 35%;
	height: 500px;
    display: block;
    padding: 50px;
    margin-left: 60%;
    border: solid 3px rgb(102, 224, 210);
    box-shadow: 0px 2px 100px 6px rgba(0,0,0,0.35);
	background-color:rgba(80, 208, 193, 0.77);
}

.heading{
	padding: 15px;
	text-align: center;
}
.box-container h2,h4 {
	color: #fff !important;
}
.iconbg,
.inputbg,
.btnbg{
	color: rgba(0, 0, 0, 0.58);
    border: solid 1px rgba(0, 0, 0, 0.58);
    background-color:#fff; 
}
div.p_photo-group {
    width: 80px;
    height: 60px;
    background: url(/img/upload.PNG);
    background-size: 80px 60px,cover;
    background-repeat: no-repeat;
    overflow: hidden;    
}
.p_photo{
	display: block !important;
    width: 80px !important;
    height: 60px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.selectedFile{
	margin-bottom: 20px;
	color: #fff;
	font-size: 15px;
	font-weight: bolder;
}
.password-group,
.username-group,
.btnbg{
	margin-bottom: 25px;
}

.btnbg{
	width: 100%;
}
.btnbg:hover{
	color:#50d0c1;
	border: solid 1px rgba(0, 0, 0, 1);
}
.opr-loader{
	float: right;
}
.signup-box{
	text-align: center;
	margin-top:20px;
}
@media screen and (max-width: 700px) {
	.index{
		padding: 20px;
	}
	.box-container{
		margin: 0px auto;
		width: 50%;
	}

}
/*--------------------------------------------------------------------------------
Login page ends
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
Home page starts
----------------------------------------------------------------------------------------------*/

/*---------------------------------------------------
Header starts
---------------------------------------------------*/
.list-wrapper-header{
	height: 75px;
	color: #fff;
	background: #50d0c1;
	margin-bottom:10px; 
	padding: 10px;
	-webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.35);
}
.profile_pic{
	float: left;	
	width: 50px;
	height: 100%;
	margin-right: 20px;
}
.profile_pic img{
	width: 100%;
	height: 100%;
}
.user-meta{	
	padding: 5px;	
	text-transform: uppercase !important;
}
.user-meta .user-name{
	font-size: 18px;
	display: block;
}
.user-meta .user-status{
	font-size: 10px;	
}
.icon-set{
	float: right;
	font-size: 20px;
	height: 100%;
	padding: inherit;
}
.icon-set a{
	margin-right: 5px;
	cursor: pointer;
	color: #fff;
}
/*---------------------------
Header Ends
-----------------------------*/

/*----------------------------
List of users starts
------------------------------*/
.list-wrapper{
	height: 95%;
	padding: 0px ;
	background: #F9F7F7;
	color: #fff;
}
.userlist{
	padding: 5px;
	margin: 5px;
	height:86%;
	overflow-y: scroll;
}
.userlist-single{
	height: 75px;	
	margin-bottom: 5px;
	background-color: #fff;
	padding-left : 10px;
	border: solid 1px rgba(80, 208, 193, 0.35);
}
.userlist-user-meta{
	height: 100%;
    width: 100%;
    padding: 5px;
    color: rgba(0, 0, 0, 0.69);
    font-weight: 400;
}
.userlist-user-meta img{
	height: 100%;
    width: 75px;
    border: solid 1px rgb(188, 186, 186);
    background-color: rgba(255, 255, 255, 0.1);
    float: left;
    margin-right: 20px;
}
.userlist-user-meta span{
	font-size: 20px;
}
.online-user-status{
	float: right;
    height: 15px;
    margin-right: 30px;
    width: 15px;
    border-radius: 50%;
    margin-top: 6.5%;
}
.userlist-userName{
	display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}
.is-typing{
	font-size: 10px !important;;
	color: #13FF03 !important;
	display: none;
}
.status-online{
	background: #0BFF02;	
}
.status-offline{
	background: #FF3702;
}
.hightlight_user_class{
	padding-left: 5px;
	border-top: solid 1px rgba(80, 208, 193, 0.35);
	border-left: solid 1px rgba(80, 208, 193, 0.35);
	border-bottom: solid 1px rgba(80, 208, 193, 0.35);
	border-left: solid 5px #50d0c1;
}
/*----------------------------------
List of users Ends
------------------------------------*/


/*----------------------------------
Message Area starts
------------------------------------*/

.msg-wrapper{
	height: 95%;		
	padding: 0px;
	border-left: solid 1px rgba(0, 0, 0, 0.3);
}
.msg-wrapper-header{
	height: 35px;
	padding: 10px;
	position:absolute;
	width: 97.56%;
	color: rgba(0, 0, 0, 0.69);
	background-color: rgb(80, 208, 193);	
	-webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.35);
}
.chat-user-meta{
	margin: 0px auto;
}
.chat-user-meta .user-name{
	font-size: 15px;
	display: block;
}
.msg-wrapper-body{
	height: 100%;
	padding: 25px;
	border-left: solid 1px rgba(80, 208, 193, 0.35);
	width: 100%;
	background-color: #fff;
}
.msg-container{
	height: 80%;
	width: 100%;
	overflow-y:scroll;  
}
.msg-container{
	height: 85%;
	width: 100%;
	overflow-y:scroll;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px; 
	border-bottom: solid 1px rgba(0, 0, 0, 0.18); 
	margin-bottom: 10px; 
}
.send-container{
	height: 10%;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.msg-single{
	clear: both;
	margin-bottom: 10px;
	text-decoration: none;
	list-style-type: none;
	margin: 20px 0px 0px 20px;
}
.msg-conatiner{
	float: left;
	display: inline-block;
	margin: 5px;
	padding: 5px;
    min-width: 160px;
    min-height: 10px;
    max-width: 510px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(80, 208, 193, 0.3);
	-moz-box-shadow: 0px 1px 5px 0px rgba(80, 208, 193, 0.3);
	box-shadow: 0px 1px 5px 0px rgba(80, 208, 193, 0.3);
    line-height: 1.4;
    word-wrap: break-word;
    border: solid 1px rgba(80, 208, 193, 0.35);;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
}

/*----------------------------------
Message Area Ends
------------------------------------*/


/*----------------------------------
Message styling starts
------------------------------------*/

.actual-msg{
	color: rgba(0, 0, 0, 0.69);
	padding: 15px 0px 5px 15px;	
}
.msg-meta{
    font-size: 9px;
    color: rgba(0, 0, 0, 0.69);	
    float: right;
}
.send-msg-text{
	width: 90%;
	float: left;
}
.send-btn{
	width: 10%;
	margin-top: 0px;
	float: right;
	padding-left: 20px;
	padding-top: 10px;
}
.send-btn:hover{
	cursor: pointer;
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);
}
.send-btn:active{
	cursor: pointer;
	-ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari */
    transform: scale(1.3);
    padding-left: 40px;
    margin-top: -20px;
}
#toast-container>.toast-success{
	vertical-align: top;
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f1d7';
}



.newChat .userlist-user-meta{
	height:inherit;
	border: solid 1px rgba(0, 0, 0, 0.22);
	padding:5px;
	margin: 10px;
}
.userlist-single-offline{
	background-color: #fff !important;
	padding: 5px;
	margin:5px;
}
.newChat-user-meta{
	height: 70px;
}
.newChat .userlist-userName{
	color: #000 !important;	
}
.newChat-user-meta img{
	border: solid 1px rgba(0, 0, 0, 0.37) !important;
}
.send-msg-offline{
	float: right;
	margin: 20px;	
    color: rgb(13, 24, 29) !important;
    cursor: pointer;
}
.send-msg-offline-text{
	padding: 30px;
}
.send-msg-offline-text textarea{
	background-color: #fff !important;
	color: #000 !important;
}
.send-msg-hidden{
	padding: 20px;
	display: none;
}
.send-msg-show{
	display: block;
}
.newChat-send-mesaage{
	margin:10px 0px 10px 0px;
	background: rgb(13, 24, 29) !important;
}
