<html ng-app="home">
    <head>
    <title>Jabber Chat Application</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="angularjs-toaster/toaster.min.css" />
    </head>
    <body ng-controller="home">
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/groupChat">Group Chat</a>
      <a href="/calendar">Calendar</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="topNavFunction()">&#9776;</a>
    </div>
    <div class="body" id="group_body">
      <div class="rows">
          <div class="col-md-8 msg-wrapper">
          <!--  
          Showing person's name who is Chatting with the  users Ends
        -->
          <div class="msg-wrapper-header">
            <div class="chat-user-meta">
              <span class="user-name">Group Chat</span>
            </div>
          </div>

          <div class="msg-wrapper-body">
            <!-- 
            Displaying messages to user when users Starts
          -->
            <div class="msg-container" id="msg-container">
              <div class="msg-single" ng-repeat="msg_data in msgs"  
              ng-style="{
                  'float': uid==msg_data.from_id ? 'right' :'left'
              }">
                <div class="msg-conatiner">
                <div class="actual-msg">{{msg_data.msg}}</div>
                <span class="msg-meta">{{msg_data.timestamp*1000 | date}}</span></br>
                <span class="msg-meta">From {{msg_data.name}}</span>
                </div>
              </div> 
            </div>
          <!-- 
            Displaying messages to user when users Ends
          -->

          <!-- 
            Message box to send messages Starts
          -->
            <div class="send-container">
            <textarea class="form-control send-msg-text" ng-model='send_text' send-typing-notification placeholder="Type your message here" ></textarea>
              <h1 class="send-btn" ng-click="send_group_msg()"><span class="glyphicon glyphicon-send"></span></h1>
            </div>
          </div>
        </div>
        <div class="col-md-4  list-wrapper">
        <!-- 
          Display Chat list for user starts
        --> 
        <div class="col-md-12 list-wrapper-header">
          <!-- 
            Displaying profile Image
          --> 
          <div class="chat-user-meta">
              <span class="user-name">Room: &nbsp;&nbsp;&nbsp;{{highlight_room_name}}</span>
          </div>
          <!-- 
            Link for modal and for Logout starts
          --> 
          <div class="icon-set">
            <a Title="Create Room" ng-click='create_room()' data-toggle="modal" data-target="#roomModal">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a Title="Leave Room" ng-click="leave_room()">
              <span class="glyphicon glyphicon-off"></span>
            </a>
          </div>

        </div>
        <div class="userlist">

          <!-- 
            Using ng-repeat to show users starts
          --> 
          <div class="userlist-single" ng-repeat="singleuser in userlistbyroom"
              ng-show="singleuser.room_id!=0 && singleuser.room_id == highlight_room_id"
            >
            <!-- 
              Showing users name, profile Image and online status  
            --> 
            <div class="userlist-user-meta">
              <img class="img-circle" ng-src="{{singleuser.p_photo}}"/>

              <span title="{{singleuser.socketId}}" class="userlist-userName">{{singleuser.name}}-{{singleuser.room_id}}-{{highlight_room_id}}</span>
              <!-- 
                Span to show 'Typing indicator'  
              --> 
              <span id="isTyping_{{singleuser.id}}" class="is-typing">is typing...</span>
            </div>          
          </div>
          <!-- 
            Using ng-repeat to show users ends
          --> 

          <!-- 
            Showing alert when no user avalibale for chat
          --> 
          <div ng-show="userlistbyroom.length == 1 && userlist[0].name==show_userinfo.data.name"  >
            <div class="alert alert-danger" >
              <p class="text-center" >
              Everyone is offline.
              <br/><br/>
              Share this url and Tell your friends to come online.
              </p >
            </div >
          </div>

        </div>
        <!-- 
          Displaying chat list ends
        --> 
      </div>


    </div>



    <div id="roomModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content starts-->
    <div class="modal-content">
      
      <!-- Modal header starts-->
      <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">&times;</a>
        <p class="modal-title">Create New Room</p>
      </div>
      <!-- Modal header ends-->
      

      <!-- Modal Body starts-->
      <div class="modal-body">
      
        <!-- 
          Displaying start new chat list starts
        --> 
          <div class="container">
            <div class="userlist roomlist" style="height: 60%;">

              <!-- 
                Using ng-repeat to show users starts
              --> 
              <div class="userlist-single" ng-repeat="singleroom in roomlist" id="room{{singleroom.id}}"
               ng-click="hightlight_room(singleroom)"
               ng-class="(hightlight_room_id==singleroom.id ? 'hightlight_user_class' :'')"
                  >
                <!-- 
                  Showing users name, profile Image and online status  
                --> 
                <div class="userlist-user-meta">
                  <img class="img-circle" ng-src="img/spot.png"/>
                  <span class="userlist-userName">{{singleroom.name}}</span>
                </div>
              </div>
              <!-- 
                Using ng-repeat to show users ends
              --> 
          </div>
            <div class="newChat-user-meta">
                <input id="roomname" ng-model="room_name" class="form-control" placeholder="Type your room name here"></input>
            </div>  

            <div class="newChat-user-meta">
                <center>
                  <button class="btn btn-primary" data-dismiss="modal" ng-click="get_into_room()">
                  Join Room
                  </button>
                  <button class="btn btn-primary" ng-click="create_new_room()">
                  Create Room
                  </button>
                </center>                        
          </div>                  
        </div>
        <!-- Modal Body ends-->

    </div>
    <!-- Modal content ends-->
    </div>
  </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js" ></script>
    <script type="text/javascript" src="angularjs-toaster/toaster.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src ="js/home_script.js"></script>
    <script>
    $(function() {
      if(parseInt(document.location.href.search('rid')) > 0){
          $('#roomModal').modal('hide');
          angular.element(document.getElementById('group_body')).scope().get_into_room();
      }else{
          $('#roomModal').modal('show');
      }
      $('#roomname').keypress(function (e) {
      if (e.which == 13) {create_new_room();}});
    });

      function topNavFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>   


    </body>
  </html>